body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    overflow-y: hidden;
    max-height: 100vh;
}



* {
    margin: 0;
    padding: 0;

    font-family: "Pixelify Sans", sans-serif;
}

.telainicial {
    background-color: #f4f4f4;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top:100px ;
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('./imgs/inicial.png');
    color: #fff;
    font-family: "Pixelify Sans", sans-serif;
    
}

.telainicial p {
    font-size: 28px;
    
}

.telainicial button {
    background-color: #008CBA;
    color: #fff;
    font-size: 24px;
}

.dest {
    color: yellow;
}

#score-text {
    font-size: 24px;
    color: #fff;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.headertela {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-top: solid 1px #fff;
    border-bottom: 1px solid #fff;
    
}

#quiz-container {
    display: none;
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background: url("./imgs/fundo3.jpg");
    background-position: bottom;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
   
    position: relative;

}

#question-text {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 20px;
}

#question-text {
    font-size: 24px;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("./imgs/background.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@keyframes show {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.enter {
    animation: show forwards 1s ease ;
}

.selected {
    background-color: #008CBA;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

#imgQ {
    width: 70%;
    justify-self: center;
}

#imgQ-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#imgQ {
    max-width: 100%;
    max-height: 70%;
    border-radius: 12px;
    box-shadow: 0 0 15px black;
}

.appear {
    animation: appear 3s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

#mage {
    position: absolute;
   bottom: 15px;
    left: 30%;
    width: 200px;

}

#power {
    position: absolute;
    bottom: 50px;
     right: 32%;
     width: 250px;
     display: none;
}

#enemy {
    position: absolute;
    bottom: 15px;
     right: 30%;
     width: 200px;
     transform: scaleX(-1);
     transition: left .5s ease-in-out;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}



.correct {
    background-color: #4CAF50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}

#next-button {
    display: none;
    background-color: #008CBA;
    color: white;
}

@media screen and (max-width: 1500px) {
   
    

    #mage, #enemy {
width: 180px;
    }

    #mage {
        left: 20%;
    }

    #enemy {
        right: 20%;
    }

    #power {
        right: 22%;
    }

    .telainicial {
        max-width: 450px;
        height: 32vh;
        margin-top:10px;

       
    }

    .telainicial h1 {
        font-size: 28px;
    }

    .telainicial p {
        font-size: 22px;
    }
}

@media screen and (max-width: 680px) {

   

    #mage, #enemy {
width: 150px;

    }

    #mage {
        left: 7%;
        bottom: 60px;
    }

    #enemy {
        right: 7%;
        bottom: 60px;
    }

    #power {
        right: 12%;
    }

    #quiz-container {
        max-width: 300px;
        z-index: 5;

        
    }

    .telainicial {
        max-width: 320px;
        margin-top:40px ;
        padding: 15px 20px;
    }

    .telainicial h1 {
        font-size: 24px;
    }

    .telainicial p {
        font-size: 18px;
    }

    .info {
        font-size: 14px;
        border-bottom: 1px solid #fff;

        
    }



}

@media screen and (max-width: 400px) {



#quiz-container {
    max-height: 55vh;
    padding: 10px;
    position: relative;
}

#question-text {
    font-size: 20px;
}
#answer-buttons .btn{
    font-size: 14px;
}


.telainicial {
    height: 50vh;
    width: 300px;
}

.telainicial h1 {
    font-size: 26px;
}

.telainicial p {
    font-size: 20px;
}

.info {
    font-size: 12px;
}

#mage, #enemy {
    width: 150px;
}

.btns {
    display: flex;
    gap: 100px;
position: absolute;
bottom: -50px;

}
}